@charset: "utf-8";

@media (max-width:600px) {
    .facet_sidebar {
        display: none;
    }
}

@font-face {
    font-family: cool_font;
    src: url('cool_font.ttf');
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 1em;
    padding: 2em;
    height: 50em;
    color: #221818;
    background: window;
    border: 1px solid #888;
    border-radius: .5em;
    font-family: 'Open Sans', sans-serif;
}

body h1#main, h2 {
    border-bottom: 1px dotted #221818;
}

#main, h2 {
    color: #264 !important;
}

img {
    margin: 1em;
    float: right;
}

article > span.warning {
    border: 1px solid orange;
    padding: .1em;
    clear: both;
}

footer {
    clear: both;
}

.warning:before {
    content: '⚠ ';
}
